body{
    margin: 0px;
}
.navbar{
    flex-direction: row;
    display: flex;
    background-color: green;
    padding-top:20px; padding-bottom: 20px;
    font-size: 20px;
    font-family: sans-serif;
}
.navbar a{
    text-decoration: none;

}
.title a{
    color: white;
    font-size: 40px;
    font: bold;
}
.link{
    width: 50%;
    justify-content: right;
}
.link a{
    color: black;
    font-size: 30px;
    margin-left: 5%;
}
.left-side{
    flex-direction: row;
    display: flex;
    margin-right: 5%;
}
.title {
    padding-top: 13%;
}
.right-side{
    flex-direction: row;
    display: flex;
    justify-content: right;
    padding-top: 2.7%;
    width: 50%;
}
.logo{
    padding-left: 3%;
    padding-right: 3%;
}
.logo img{
    max-height:100px;
    max-width: 100px;
    object-fit:scale-down;
}

.image img{
    width: 100%;
    height: auto;
}
